body {
    background-color: rgb(21, 21, 44);
}

table {
    margin: 4% auto;
    table-layout: fixed;
}

th {
    color: rgb(27, 183, 255)!important;
}

.sitename {
    color: rgb(255, 77, 77)!important;
}

tr:nth-child(odd) td {
    background-color: rgb(35, 35, 58);
}

td,
th {
    border: 1px solid rgb(21, 21, 44);
    background-color: rgb(48, 48, 70);
    text-align: left;
    padding: 1.2em 0.8em;
    width: 14em;
    color: rgb(207, 207, 207);
    font-size: 1em;
    transition: background-color 0.5s, color 0.5s, font-size 0.5s, box-shadow 0.5s;
}

.menu {
    background-color: rgb(21, 21, 44);
}

td:hover {
    background-color: rgb(255, 233, 31)!important;
    color: rgb(0, 0, 0);
    box-shadow: -3px 3px 1px rgb(83, 79, 13);
    font-size: 1.05em;
}

.sitename:hover {
    color: rgb(0, 0, 0)!important;
}

::selection {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0)!important;
}